.message {
    border-radius: 5px;
    max-width: min(80%, 400px);
    width: max-content;
    min-height: 30px;
    min-width: 110px;
    display: grid;
    padding: 4px 0 0 5px;
    position: relative;
    grid-template-columns: 1fr;
}

.myMessage {
    background-color: #2B5278;
    grid-template-columns: 1fr 40px 20px;
    margin: 0 20px 10px auto;
}

.myMessage .time {
    padding-left: 1px;
}

.myMessage .tick {
    position: absolute;
    bottom: -4px;
    right: 5px;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #0E1621;
    overflow: hidden;
}

.myMessage .time {
    color: #7D9FAB;
}

.friendMessage {
    grid-template-columns: 1fr 40px;
    margin: 0 0 10px 5%;
    background-color: #182533;
}

.friendMessage .time {
    color: #6B7F8F;
}

.friendMessage .tick {
    display: none;
}

.text {
    color: white;
    font-size: 13px;
    font-family: 'Source Sans Pro', sans-serif;
    /*width: min-content;*/
}

.time {
    font-family: 'opensans', sans-serif;
    letter-spacing: -0.7px;
    user-select: none;
    font-size: 10px;
    margin: auto 0 0 0;
}

.container {
    background-color: #1C2A37;
    color: white;
    top: 45%;
    left: 50%;
    position: absolute;
    border-radius: 10px;
}

.new {
    margin: 1px 8px;
}

.messages {
    overflow-y: scroll;
    max-height: 300px;
    position: relative;
}