.friendMessage {
    grid-template-columns: 1fr 40px;
    margin: 0 0 10px 5%;
}

.text {
    color: white;
    white-space: normal;
    font-size: 13px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 10px;
}

.time {
    font-family: opensans, sans-serif;
    letter-spacing: -0.7px;
    font-size: 10px;
    white-space: nowrap;
    word-break: keep-all;
    user-select: none;
    margin-left: auto;
}


.message {
    border-radius: 5px;
    max-width: min(80%, 400px);
    width: max-content;
    min-height: 30px;
    min-width: 110px;
    padding: 6px;
    position: relative;
    word-break: break-word;
    line-height: 18px;
    cursor: pointer;
}

.myMessage {
    margin: 0 20px 10px auto;
}

.box {
    position: absolute;
    right: 3px;
    bottom: 0;
    display: flex;
    gap: 3px;
}
