.container1 {
	margin: 0;
	top: 50px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	background-color: rgb(33, 41, 66);
	border-radius: 9px;
	width: 70%;
	max-width: 400px;
	height: 500px;
}
