.nickName {
    padding-top: 10px;
    color: white;
    font-size: 20px;
}

.underImgInfo {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.status {

}

.bgImg img{
    height: 200px;
    width: 700px;
}