.friendProfile {
    background-color: #0E1621;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.avatar img {
    border-radius: 50%;
}

.user {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #0E1621;
}