.user {
    display: grid;
    grid-template-rows: 1fr 4fr;
    height: 80px;
    text-decoration: none;
    width: 100%;
    user-select: none;
}

.avatar img {
    max-height: 50px;
    border-radius: 50%;
    user-select: none;
}

.avatar {

}

.userInfo {
    text-align: center;
    font-family: 'Bahtnschrift', sans-serif;
    color: white;
    display: grid;
    grid-template-columns: 50px 1fr;
}

.userName {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #79A6FE;
    transition: color 1s;
}

.user:hover .userInfo .userName {
    color: white;
    transition: color 2s;
}

.status {
    text-transform: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 160px;
    overflow: hidden;
}