.user {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 80px;
    border-bottom: 2px solid cornflowerblue;
}

.avatar img {
    max-height: 30px;
}

.userInfo {
    display: grid;
    grid-template-rows: 1fr 20px;
    font-family: 'Bahnschrift', sans-serif;
    text-decoration: none;
    color: #161b24;
}