.user {
    display: grid;
    grid-template-columns: 2.6fr 8fr;
    height: 80px;
    text-decoration: none;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    user-select: none;
}

.avatar img {
    margin-left: 10px;
    max-height: 50px;
    border-radius: 50%;
    user-select: none;
}

.avatar {
    padding-top: 10px;
}

.userInfo {
    text-align: center;
    font-family: 'Bahtnschrift', sans-serif;
    color: white;
}

.userName {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #79A6FE;
    transition: color 1s;
}

.user:hover .userInfo .userName {
    color: white;
    transition: color 2s;
}

.status {
    text-transform: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 160px;
    overflow: hidden;
}