.input {
	resize: none;
	outline: none;
	color: #E6EDF3;
	border: none;
	font-size: 13px;
	padding-left: 10px;
}

.input::placeholder {
	transition: color 0.5s;
	color: #7B8C92;
	letter-spacing: 1px;
	user-select: none;
}

.input:focus::placeholder {
	transition: color 0.5s;
	color: #46505e;
}

.dialogsForm {
	background-color: #161B22;
	display: grid;
	grid-template-columns: 7fr 1fr;
	font-family: 'Source Sans Pro', sans-serif;
	height: 100%;
	outline: none;
}
