@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.navigation {
    width: 100%;
    background-color: black;
}

.button img {
    width: 25px;
    border-radius: 50px;
    float: left;
}

.btns {
    margin-top: -20px;
}

.send {
    margin-right: 10px;
}

.logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: -18px;
    bottom: -6px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;

}

.button {
    text-decoration: none;
    right: 0;
    position: absolute;
    padding: 12px;
    margin: 15px;
    color: white;
    width: 49px;
    background-color: #3b476b;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden
}

.button:hover, button:focus {
    width: 140px;
    cursor: pointer;
}

.button:hover .logout, .button:focus .logout{
    opacity: .9;
}

.profile {
    overflow: auto;
}
