.input {
    background-color: #17212B;
    height: 100%;
    resize: none;
    outline: none;
    color: white;
    border: none;
    font-size: 13px;
    padding: 2px 0 0 10px;
    width: 100%;
}

.input::placeholder {
    transition: color 0.5s;
    color: #6D7883;
    font-size: 13px;
    letter-spacing: 1px;
    user-select: none;
}

.input:focus::placeholder {
    transition: color 0.5s;
    color:#46505E;
}

.dialogsForm {
    background-color: #17212B;
    display: grid;
    grid-template-columns: 7fr 1fr;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    outline: none;
}
