.box {
	width: 100%;
	margin: 0 auto;
}

.box h4 {
	font-family: 'Source Sans Pro', sans-serif;
	color: #5c6bc0;
	font-size: 120%;
	margin-top: 84px;
	margin-bottom: 70px;
	text-align: center;
}

.box input[type='text'],
.box input[type='password'] {
	display: block;
	margin: 1.5em auto;
	background: #262e49;
	border: 0;
	border-radius: 5px;
	padding: 14px 10px;
	width: 80%;
	outline: none;
	color: #d6d6d6;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.box input[type='text']:focus,
.box input[type='password']:focus {
	border: 1px solid #79a6fe;
}

.btn1 {
	border: 0;
	background: #90caf9;
	color: #13191f;
	border-radius: 100px;
	min-width: 85%;
	height: 49px;
	font-size: 16px;
	position: absolute;
	top: 79%;
	left: 8%;
	transition: 0.3s;
	cursor: pointer;
}

.label {
	left: 10%;
	transform: translate(0, -18px);
	background: linear-gradient(to right, #ff758c, #ff7eb3),
		linear-gradient(to bottom, #ff7eb3, #ff758c);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	position: absolute;
	font-size: 12px;
	font-family: 'Poppins', sans-serif;
	user-select: none;
}

.btn1:hover {
	background: #42a5f5;
}

.rmb {
	margin-left: 2%;
	padding-bottom: 3px;
	color: #dfdeee;
	font-size: 13px;
	height: 18px;
	top: 5px;
}

.customCheckbox {
	user-select: none;
	cursor: pointer;
	margin-left: 10%;
}

.customCheckbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.customCheckbox .checkmark {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 2px solid #ccc;
	border-radius: 4px;
	transition: background-color 0.3s ease; /* Add a transition effect for smooth color change */
}

/* Style the checked state */
.customCheckbox input:checked + .checkmark {
	background-color: #896cec; /* Change the background color when checked */
}

/* Add a checkmark icon using pseudo-element */
.customCheckbox .checkmark::after {
	content: '';
	position: absolute;
	display: none;
	left: 5px;
	top: 1px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

/* Show the checkmark when checkbox is checked */
.customCheckbox input:checked + .checkmark::after {
	display: block;
}

.rmb,
.box h4 {
	user-select: none;
}
