.dialog {
    user-select: none;
    text-decoration: none;
    color: white;
}


.dialog:focus {
    background-color: #2b5278;
}

.dialog:hover {
    background-color: #212b35;
    cursor: pointer;
}

.dialog:hover:focus {
    background-color: #2b5278;
}

.name {
    overflow: hidden;
}

.time {
    color: #8696a8;
    font-size: 13px;
}

@media (max-width: 968px) {
    .time {
        display: none;
    }
}

@media (max-width: 768px) {
    .avatar {
        display: none;
    }
}

