.dialog {
  max-height: 60px;
  min-height: 60px;
  user-select: none;
  text-decoration: none;
  position: relative;
  color: white;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.icon {
  margin-top: 10px;
}

.dialog:focus {
  background-color: #2b5278;
}

.dialog:hover {
  background-color: #212b35;
  cursor: pointer;
}

.dialog:hover:focus {
  background-color: #2b5278;
}

.time {
  color: #8696a8;
  font-size: 13px;
  font-family: "Spot Mono", monospace;
}
