.nickName {
    padding-top: 20px;
    color: #42A5F5;
    font-size: 25px;
}

.main {
    padding-top: 100px;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.jobInfo {
    color: white;
}

.userStatus {
    margin-top: 15px;
    max-width: 300px;
}

.userInfo {
    padding-left: 20px;
}

.container {
    margin-bottom: 40px;
}

.answer, .lkfDescription, .lfj {
    font-size: 18px;
    display: inline-block;
}

.first {
    margin-bottom: 30px;
}

.text {
    color: grey;
}

.section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}


.contact p {
    color: white;
}

.contact {
    position: relative;
    width: 21%;
    height: 60px;
    margin-bottom: 60px;
    user-select: none;
    color: white;
    text-decoration: none;
}

.contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 250px;
}

.showContact {
    display: none;
    position: absolute;
    color: #42A5F5;
    font-family: 'Roboto', sans-serif;
}

.contact:hover .showContact {
    display: block;
}

.status {
    text-align: center;
}