.nickName {
    padding-top: 20px;
    color: #42A5F5;
    font-size: 25px;
}

.main {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.jobInfo {
    color: white;
}

.lfj {
    margin-right: 20px;
}

.answer, .lkfDescription, .lfj {
    font-size: 18px;
    display: inline-block;
}

.first {
    margin-bottom: 30px;
}

.text {
    color: grey;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 10%;
}

.contact p {
    color: white;
}

.contact {
    position: relative;
    width: 21%;
    height: 60px;
    margin-bottom: 60px;
    user-select: none;
    color: white;
    text-decoration: none;
}

.contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.showContact {
    display: none;
    color: #42A5F5;
    font-family: 'Roboto', sans-serif;
}

.contact:hover .showContact {
    display: block;
}

.status {
    padding-right: 200px;
    padding-top: 30px;
}