.nickName {
    padding-top: 20px;
    color: white;
    font-size: 20px;
}

.underImgInfo {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.bgImg {
    height: 200px;
    width: 700px;
}

.bgImgBody {
    height: 100%;
    background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
}

.bgImg img{
    height: 200px;
    width: 700px;
}

.jobInfo {
    color: white;
}

.lfj {
    margin-right: 20px;
}

.answer, .lkfDescription, .lfj {
    font-size: 18px;
    display: inline-block;
}

.first {
    margin-bottom: 30px;
}

.text {
    color: grey;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 10%;
}

.contact p {
    color: white;
    text-align: center;
}

.contact {
    position: relative;
    width: 21%;
    height: 60px;
    margin-bottom: 60px;
    user-select: none;
    color: white;
    text-decoration: none;
}

.contacts {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.showContact {
    display: none;
    position: absolute;
    left: 10px;
    top: 0;
    color: turquoise;
    font-family: 'Roboto', sans-serif;
}

.contact:hover .showContact {
    display: block;
}