.dialogs {
    color: white;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.chatContainer {
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 0.7fr 500px 0.6fr;
}

.title {
    user-select: none;
    background-color: #17212B;
    color: white;
    letter-spacing: -0.8px;
    font-family: 'Spot Mono', monospace;
    padding: 10px 0 0 15px;
    font-size: 16px;
}