.usersList {
	padding-top: 10px;
	justify-content: flex-start;
	gap: max(2%, 10px);
	max-height: 84vh;
}

.usersList:last-child {
	padding-bottom: 10px;
}

@media (max-width: 768px) {
	.usersList {
		height: calc(86vh - 56px);
	}
}
