.page {
    display: inline;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: white
}

.page:hover {
    color: cornflowerblue;
    transition: color 300ms;
}

.usersList {
    max-height: 500px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    min-width: 300px;
    width: 80%;
    overflow-x: hidden;
}

.usersList::-webkit-scrollbar {
    width: 10px;
}

.usersList::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: #293038;
}

.usersList::-webkit-scrollbar-thumb {
    background-color: #54595F;
    border-radius: 10px;
}

.usersList::-webkit-scrollbar-track:hover {
    background-color: #2D343C;
}