.pages {
    margin-top: 60%;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 70px 70px;
}

.usersList {
    max-height: 500px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    overflow: auto;
    width: 100%;
}

.usersList::-webkit-scrollbar {
    width: 6px;
}

.usersList::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: #293038;
}

.usersList::-webkit-scrollbar-thumb {
    background-color: #54595F;
    border-radius: 10px;
}

.usersList::-webkit-scrollbar-track:hover {
    background-color: #2D343C;
}

.users {
    display: grid;
    grid-template-columns: 1fr 140px;
    grid-gap: 40px;
}